{% extends 'base.html.twig' %}

{% block title %}Contact Message{% endblock %}

{% block body %}
    <h1>Message de {{ email }}</h1>
    <p><strong>Objet:</strong> {{ subject }}</p>
    <p><strong>Message:</strong></p>
    <p>{{ message }}</p>
{% endblock %}